* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

/* -------------------- Header styles -------------------- */
.header {
	background-color: #1F2937;
	min-height: 550px;
	padding: 20px 300px;
	color: #E5E7EB;
	font-size: 18px;
}
.header .nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 100px;
}
.logo {
	text-decoration: none;
	font-size: 24px;
	color: #F9FAF8;
	font-weight: 900;
}
.nav-list {
	list-style-type: none;
	display: flex;
	gap: 25px;
}
.nav-list li a {
	text-decoration: none;
	color: #E5E7EB;
}
.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-info {
	width: 450px;
}
.header-subtext {
	margin-bottom: 15px;
}
.header-title {
	font-size: 48px;
	color: #F9FAF8;
	font-weight: 900;
}
.header-button {
	background-color: #3882F6;
	padding: 10px 30px;
	border-radius: 10px;
	border: none;
	color: #F9FAF8;
	font-weight: bold;
	font-size: 18px;
}
.header-img {
	width: 700px;
	height: 250px;
}